<div class="container">
  <div class="d-flex" style="height: 100%;">
    <div class="w-75">
      <div class="row text-center">
        <h2>Find Your Job</h2>
        <div class="btn-group" >
          <a type="button" class="btn w-100 border-0 btn-light" [class]="{'active': jobService.lastActiveRoute !== 'favourite'}" [routerLink]="['/']" >JOBS</a>
          <a type="button" class="btn w-100 btn-light" [routerLink]="['/favourite']" [class]="{'active': jobService.lastActiveRoute === 'favourite'}">FAVOURITES</a>
        </div>
      </div>
      <div class="w-100">
         <router-outlet> </router-outlet>
      </div>
    </div>
    </div>
</div>

