<div class="pt-3">
  <button class="btn btn-secondary btn-sm" [routerLink]="['/']" routerLinkActive="router-link-active">
    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 32 32" fill="currentColor" width="16px" height="16px"><path d="M 16 2.59375 L 15.28125 3.28125 L 2.28125 16.28125 L 3.71875 17.71875 L 5 16.4375 L 5 28 L 14 28 L 14 18 L 18 18 L 18 28 L 27 28 L 27 16.4375 L 28.28125 17.71875 L 29.71875 16.28125 L 16.71875 3.28125 Z M 16 5.4375 L 25 14.4375 L 25 26 L 20 26 L 20 16 L 12 16 L 12 26 L 7 26 L 7 14.4375 Z"/></svg>
    Back
  </button>
  <div class="d-flex pt-4  align-items-center">
    <img appSpinnerLoad width="150" height="150" src="{{jobDetails?.companyLogo}}" />
    <div class="w-50 ms-3">
      <h3>{{jobDetails?.companyName}} {{jobDetails?.title}}</h3>
      <ul class=" list-group list-group-horizontal-sm border-0">
        <li class="bg-light list-group-item border-0 p-0 pt-3 pe-4" *ngFor="let item of jobDetails?.types">
          <button class="btn btn-primary btn-sm rounded-pill">{{item}}</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="d-flex pt-4">
    <div class="w-100">
      <p>
        <label class="fw-bold">Publish date: </label>
        <small class="fw-light ms-2">{{jobDetails?.publishDate | date:'shortDate'}}</small>
      </p>
      <p>
        <label class="fw-bold">Location: </label>
        <small class="fw-light ms-2">{{jobDetails?.location}}</small>
      </p>
      <p>
        <label class="fw-bold">Reference: </label>
        <small class="fw-light ms-2">{{jobDetails?.reference}}</small>
      </p>
      <label class="fw-bold">Description: </label>
      <div class="fw-light" [innerHTML]="jobDetails?.description"></div>
    </div>
  </div>
</div>
